__pycache__/
output_results_*.csv
.~lock.*
report.html
*.log
.pytest_cache/
__pycache__/
temp_test_data/
security_tests/
security_output_*.csv
security_report.html
allure-report/
allure-results/
.venv/
venv/
env/
*.egg-info/

.vscode/
index.html

query_tests/ 
